*{
	margin: 0;
	padding: 0;
	font-family: "Cormorant",serif;
}
/*==header==*/
#header{
	height: 60px;
}
.logo img{
	width: 200px;
	height: 80px;
	position: absolute;
	left: 40px;
	top: -10px;
	z-index: 1;
	cursor: pointer;
}

/****menu****/
.menu {
    background:linear-gradient(to right, #FFFFFF,#D4D4D4,#FFFFFF) ;	
    text-align: right;
	height: 60px;
	line-height: 60px;
	font-size: 17px;
}
        
.menu ul {
    list-style-type: none;
	 position: relative;
	 right: 10px;
	top:0px;
}
        
.menu li {
    display: inline-block;
    position: relative;
	height: 60px;
	line-height: 60px;
}
        
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: #454545;
    padding: 0px 30px;
	margin: -10px;
	text-align: center;
}

.menu li a:hover {
    text-decoration: none;
	color: #f47a60;
	border-bottom: 1px solid #e56969;
}

.menu .TC{
	color: #e56969;
}
.dropbtn {
    background: rgba(0,0,0,0);	
	color: #454545;
    padding: 0px 25px;
    border: none;
    cursor: pointer;
	font-size: 17px;
	height: 60px;
	line-height: 60px;
        }
        
.dropdown {
      position: relative;
      display: inline-block;
}
        
.dropdown-content {
      display: none;
      position: absolute;
      min-width: 205px;
      box-shadow: 0px 8px 16px 0px rgba(223,223,223,0.85)	;
      z-index: 1;
}
        
.dropdown-content a {
;
      color: #454545;
      padding: 0px 25px;
      text-decoration: none;
      display: block;
	 border: 0.2px solid #454545;
	border-top: none;
	text-align: center;
}
        
.dropdown-content a:hover {
        background: rgba(0,0,0,0);
		color: #e56969;
		text-decoration:underline;
}
        
.dropdown:hover .dropdown-content {
		display: block;
		color: #e56969;
}
        
.dropdown:hover .dropbtn {
      color: #e56969;
	border-bottom: 1px solid #e56969;
}
.menu ul li a.IC{
	padding: 0px 25px;
}
.menu ul li a.IC:hover{
	color: #e56969;	
	border-bottom: 1px solid #e56969;
}


/*==Content==*/
#content{
	width: auto;
	height: 1170px;
	background:#FFFDFD;

}
/*==section==*/
.sec1{
	background: #FFFDFD;
	padding-top: 50px;
	text-align: center;
	float: left;
	height: 480px;
	position: absolute;
	top:500px;
	
}

.sec1 h4{
	text-align: center;
}

.art1{
	display: inline-table;
	padding: 2px;
	margin: 10px;
	background-color:#8b8b8b;
	 transition-duration: 0.3s;
	overflow: hidden;
}
.art1 a{
	text-decoration: none;
	color: #43423f;
}
.art1:hover img{
	transform: scale(1.2);
	transition: 0.3s;
	
}
.art1 a:hover{
	background-color: rgba(229,105,105,0.35);
}
/*==Gioi thieu==*/
.GT{
	padding: 0px 80px;
	text-align:justify;
	font-style: italic;
}
/*==love==*/
.love{
	height: 160px;
	background: linear-gradient(to right, #a7bea5 ,#FFFFFF) ;
	position: relative;
	top:350px;
	border: double #000;
	z-index: 9;
}
.love p{
	padding: 30px;
	text-align: center;
	font-size: 35px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-style: italic;
	color: #374A3D;
	
}
.sec2{
	background: #FFFDFD;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: center;
	float: left;
	height: 480px;
	position: absolute;
	top:1590px;
	
}

.sec2 h4{
	text-align: center;
}

.art2{
	display: inline-table;
	padding: 2px;
	margin: 25px;
	background-color:#8b8b8b;
	transition-duration: 0.3s;
	overflow: hidden;
}
.art2 a{
	text-decoration: none;
	color: #43423f;
}
.art2:hover img{
	transform: scale(1.2);
	transition: 0.3s;
	
}
.art2 a:hover{
	background-color: rgba(229,105,105,0.35);
}
/*==footer==*/
#footer{
	height: 220px;
	background:linear-gradient(to right, #DAE3DC, #a7beae ,#C0D0C5, #DAE3DC);
	text-align: center;
	padding: 50px 0 90px;

}
form{
	padding: 20px 0 0;

	
}
input[type="text"]{
	width: 620px;
	height: 40px;
	border: 2px solid #43423f;
	padding-left: 10px;
	margin-left: -80px;
}
input[type="submit"]{
	background: #43423f;
	border: hidden;
	width: 90px;
	height: 43.8px;
	position: absolute;
	
}

.ifo{
	margin: auto;
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: left;
}
.ifo th{
	font-weight: bold;
	padding-bottom: 20px;
	font-size: 30px;
	
}
.ifo td{
	font-weight: normal;
	text-align: left;
	padding-right: 100px;
	font-size: 16px;
}

